<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <title>RichArt MusiQ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->

    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/base.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/main.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/magnific-popup.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600%7cPermanent+Marker" rel="stylesheet">
</head>

<body>
    <!-- Preloader -->
    <div class="loader">
        <!-- Preloader inner -->
        <div class="loader-inner">
            <svg width="120" height="220" viewbox="0 0 100 100" class="loading-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle class="spinner" cx="50" cy="50" r="21" fill="#141414" stroke-width="2" />
            </svg>
        </div>
        <!-- End preloader inner -->
    </div>
    <!-- End preloader-->
    <!--Wrapper-->
    <div class="wrapper">
        <!--Hero section-->
        <section class="hero ">
            <!--Main slider-->
            <div class="main-slider slider flexslider ">
                <ul class="slides">
                    <li>
                        <div class="background-img overlay zoom">
                            <img src="/static/nomusic.jpg" alt="">
                        </div>
                        <!--Container-->
                        <div class="container hero-content">
                            <!--Row-->
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <!--Inner hero-->
                                    <div class="inner-hero">
                                        <h1 class="large text-white  mb-0">RichArt MusiQ</h1>
                                        <h4 class="uppercase h4">Producer & Mixing Engineer</h4>
                                        <!-- <a class="btn btn-primary mt-4" href="#">learn more</a> -->
                                    </div>
                                </div>
                                <!--End row-->
                            </div>
                            <!--End container-->
                        </div>
                        <!--End inner hero-->
                    </li>
                    <li>
                        <div class="background-img overlay zoom">
                            <img src="/static/neumann.jpeg" alt="">
                        </div>
                        <!--Container-->
                        <div class="container hero-content">
                            <!--Row-->
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <!--Inner hero-->
                                    <div class="inner-hero">
                                        <h1 class="large text-white  mb-0">RichArt MusiQ</h1>
                                        <h4 class="uppercase h4">Producer & Mixing Engineer</h4>
                                        <!-- <a class="btn btn-primary mt-4" href="#">learn more</a> -->
                                    </div>
                                </div>
                                <!--End row-->
                            </div>
                            <!--End container-->
                        </div>
                        <!--End inner hero-->
                    </li>
                    <li>
                        <div class="background-img overlay zoom">
                            <img src="/static/akg.jpg" alt="">
                        </div>
                        <!--Container-->
                        <div class="container hero-content">
                            <!--Row-->
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <!--Inner hero-->
                                    <div class="inner-hero">
                                        <h1 class="large text-white  mb-0">RichArt MusiQ</h1>
                                        <h4 class="uppercase h4">Producer & Mixing Engineer</h4>
                                        <!-- <a class="btn btn-primary mt-4" href="#">learn more</a> -->
                                    </div>
                                </div>
                                <!--End row-->
                            </div>
                            <!--End container-->
                        </div>
                        <!--End inner hero-->
                    </li>
                    <li>
                        <div class="background-img overlay zoom">
                            <img src="/static/mixer.jpg" alt="">
                        </div>
                        <!--Container-->
                        <div class="container hero-content">
                            <!--Row-->
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <!--Inner hero-->
                                    <div class="inner-hero">
                                        <h1 class="large text-white  mb-0">RichArt MusiQ</h1>
                                        <h4 class="uppercase h4">Producer & Mixing Engineer</h4>
                                        <!-- <a class="video-play-but mt-4" href="https://soundcloud.com/richartmusiqinc/caution-wet-floor"></a> -->
                                    </div>
                                </div>
                                <!--End row-->
                            </div>
                            <!--End container-->
                        </div>
                        <!--End inner hero-->
                    </li>
                </ul>
            </div>
            <!--End main slider-->
            <!--Header-->
            <header class="header stopping">
                <!--Container-->
                <div class="container ">
                    <!--Row-->
                    <div class="row">
                        <div class="col-lg-2">
                            <a class="scroll logo" href="#wrapper">
                                <img class="mb-0" src="/static/img/logo.png" alt="">
                            </a>
                        </div>
                        <div class="col-lg-10 text-right">
                            <nav class="main-nav">
                                <div class="toggle-mobile-but">
                                    <a href="#" class="mobile-but">
                                        <div class="lines"></div>
                                    </a>
                                </div>
                                <ul class="main-menu list-inline">
                                    <li><a class="scroll list-inline-item" href="#wrapper">Home</a></li>
                                    <li><a class="scroll list-inline-item" href="#about">About</a></li>
                                    <li><a class="scroll list-inline-item" href="#discography">Collabs</a></li>
                                    <!-- <li><a class="scroll list-inline-item" href="#band">Band</a></li> -->
                                    <!-- <li><a class="scroll list-inline-item" href="#tour">Tours</a></li> -->
                                    <!-- <li><a class="scroll list-inline-item" href="#gallery">Gallery</a></li> -->
                                    <li><a class="scroll list-inline-item" href="#blog">Videos</a></li>
                                    <li><a class="scroll list-inline-item" href="#contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--End row-->
                </div>
                <!--End container-->
            </header>
            <!--End header-->
        </section>
        <!--End hero section-->
        <!--About section-->
        <section id="about" class="about main brd-bottom">
            <img class="pattern-center" src="/static/img/right-pattern.png" alt="">
            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row vertical-align">
                    <div class="col-md-5    ">
                        <div class="block-content text-center">
                            <h1 class="uppercase mb-0"> "I love <br>Sounding Different"</h1>
                            <p class="mt-2 lead w-95">RichArt MusiQ born Richard Chounoune fell in love with music when his mother gifted him a guitar for his 15th birthday. Since then, RichArt MusiQ not only taught himself the guitar, but the bass and the keys as well. He went on to play for a few bands in high school, notably X-Tassy.
                            <br>
                            Influenced by his favorite producers, Timbaland and Pharell Williams, RichArt MusiQ grew an interest in music production. He has been making beats since Fruity Loops 3.56. At the time, he was one of the few people in Haiti to make beats on a DAW. He used to bring his laptop to school to show his craft. Throughout the years, RichArt MusiQ taught and mentored a few other artists and producers.
                            <br>
                            Over the years, RichArt MusiQ perfected his craft by not following trends but by focusing on sounding different. His preferred writing subject is what he refers to as, "musical porn", erotism through rap.
                            <br>
                            In the past few years, RichArt MusiQ has grown into a Mixing Engineer and has been working with different artists worldwide.</p>  
                            <!-- <img class="sing mb-0" src="img/signature.png" alt=""> -->
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-1">
                        <div class="block-content">
                            <ul class="block-images row">
                                <!-- <li class="col-md-6 col-sm-6"><img src="../../static/mystudio.JPG" alt=""> </li> -->
                                <li class="col-md-12 col-sm-6"><img src="/static/head.JPG" alt=""> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <div class="gap-one-bottom-md"></div>
            <!--Container-->
            <!-- <div class="container "> -->
                <!--Row-->
                <!-- <div class="row vertical-align">
                    <div class="col-md-6   ">
                        <div class="block-content">
                            <ul class="block-images row">
                                <li class="col-md-6 col-sm-6"><img src="img/5.jpg" alt=""> </li>
                                <li class="col-md-6 col-sm-6"><img src="img/6-1.jpg" alt=""> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-1  ">
                        <div class="block-content text-center">
                            <h4 class="uppercase">upcoming tour </h4>
                            <p>Fort Mason Center
                                <br> San Fancisco, CA</p>
                            <h4 class="uppercase h4">location </h4>
                            <p>Sunday to Wednesday
                                <br>July 23 to 26, 2017 </p>
                            <a class="btn btn-primary with-ico" href="#"><i class="icon-ticket"></i>buy a ticket</a>
                        </div>
                    </div>
                </div> -->
                <!--End row-->
            <!-- </div> -->
            <!--End container-->
            <!--Container-->
            <!-- <div class="container "> -->
                <!--Row-->
                <!-- <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-9 ">
                        <div class="block-content text-center gap-one-top-md">
                            <h4 class="uppercase">purchase music </h4>
                            <ul class="block-social list-inline mt-4">
                                <li class="list-inline-item mr-0"><a href="#"><i class="socicon-apple"></i></a></li>
                                <li class="list-inline-item mr-0"><a href="#"><i class="socicon-play"></i></a></li>
                                <li class="list-inline-item mr-0"><a href="#"><i class="socicon-amazon"></i></a></li>
                                <li class="list-inline-item mr-0"><a href="#"><i class="socicon-soundcloud"></i></a></li>
                                <li class="list-inline-item mr-0"><a href="#"><i class="socicon-spotify"></i></a></li>
                                <li class="list-inline-item mr-0"><a href="#"><i class="socicon-youtube"></i></a></li>
                            </ul>
                        </div>
                        </div>
                    </div> -->
                    <!--End row-->
                <!-- </div> -->
                <!--End container-->
        </section>
        <!--End about section-->
        <!--Latest album section-->
        <section class="latest main brd-bottom">
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-9 ">
                        <div class="block-content text-center gap-one-bottom-md">
                            <div class="block-title ">
                                <div class="block-bars">
                                    <img src="/static/img/sound-bars.png" alt="">
                                </div>
                                <h6 class="uppercase mb-1">Caution Wet Floor </h6>
                                <h1 class="uppercase mb-0">Newest Release</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row vertical-align">
                    <div class="col-lg-8  ">
                        <img class="mb-0" src="/static/caution.jpg" alt="">
                    </div>
                    <div class="offset-lg-1  col-lg-3  ">
                        <div class="block-content ">
                            <div class="block-album-info">
                                <ul>
                                    <li>
                                        <h5 class=" uppercase list-inline-item">Label : </h5>
                                        <span>RichArt MusiQ</span>
                                    </li>
                                    <li>
                                        <h5 class=" uppercase list-inline-item h4">Released : </h5>
                                        <span>March 03/22/2020</span>
                                    </li>
                                    <li>
                                        <h5 class=" uppercase list-inline-item h4">Genre : </h5>
                                        <span>Hip Hop/RnB</span>
                                    </li>
                                    <!-- <li>
                                        <h5 class="uppercase list-inline-item ">Styles : </h5>
                                        <span>Musical Porn</span>
                                    </li> -->
                                    <li>
                                    </li>
                                </ul>
                            </div>
                            <ul class="block-social list-inline mt-4">
                                <li class="list-inline-item mr-0"><a href="https://music.apple.com/us/album/caution/1512182334?i=1512182336"><i class="socicon-apple"></i></a></li>
                                <!-- <li class="list-inline-item mr-0"><a href="#"><i class="socicon-play"></i></a></li> -->
                                <!-- <li class="list-inline-item mr-0"><a href="#"><i class="socicon-amazon"></i></a></li> -->
                                <li class="list-inline-item mr-0"><a href="https://soundcloud.com/richartmusiqinc/caution-wet-floor"><i class="socicon-soundcloud"></i></a></li>
                                <li class="list-inline-item mr-0"><a href="https://open.spotify.com/artist/6A8QAazZbwjvaGu7AnX5tt"><i class="socicon-spotify"></i></a></li>
                                <!-- <li class="list-inline-item mr-0"><a href="#"><i class="socicon-youtube"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center ">
                    <div class="col-12 col-md-10 col-lg-9">
                        <div class="block-content gap-one-bottom-md text-center">
                            <i class="icon-soundcloud big-icon "></i>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="block-content  text-center">
                            <!-- <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/2207333&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/richartmusiqinc" title="RichArt MusiQ" target="_blank" style="color: #cccccc; text-decoration: none;">RichArt MusiQ</a></div> -->
                            <a class="btn btn-primary btn-absolute uppercase with-ico" href="https://soundcloud.com/richartmusiqinc" target='blank'><i class="icon-soundloud"></i>Follow me @richartmusiq</a>
                            <ul class="block-instafeed list-inline" id="instafeed"></ul>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
        
            <!--Container-->
            <br>
            <br>
            <br>
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center">
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1004886277&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/richartmusiqinc" title="RichArt MusiQ" target="_blank" style="color: #cccccc; text-decoration: none;">RichArt MusiQ</a> · <a href="https://soundcloud.com/richartmusiqinc/sets/my-musiq" title="My MusiQ" target="_blank" style="color: #cccccc; text-decoration: none;">My MusiQ</a></div>
                    <!-- <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1004886277&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/richartmusiqinc" title="RichArt MusiQ" target="_blank" style="color: #cccccc; text-decoration: none;">RichArt MusiQ</a> · <a href="https://soundcloud.com/richartmusiqinc/sets/my-musiq" title="My MusiQ" target="_blank" style="color: #cccccc; text-decoration: none;">My MusiQ</a></div> -->
                </div>
                <!--End row-->
            </div>
            <!--End container-->
        </section>
        <!--End latest album section-->
        <!--Discography section-->
        <section id="discography" class="discography main">
            <img class="pattern-center" src="static/img/center-pattern.png" alt="">
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-9 ">
                        <div class="block-content text-center gap-one-bottom-md">
                            <div class="block-title ">
                                <div class="block-bars">
                                    <img src="static/img/sound-bars.png" alt="">
                                </div>
                                <!-- <h6 class="uppercase mb-1">life discography </h6> -->
                                <h1 class="uppercase mb-0">Collabs</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-content">
                            <a href="https://soundcloud.com/redge-ch/vire-an-boss-prod-by-richartmusiq" class="hover-effect">
                                <div class="block-album p-3">
                                    <img src="/static/vire.png" alt="">
                                    <h6 class="uppercase mb-0">Vire an Boss - Redge Ch</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-content ">
                            <a href="https://soundcloud.com/redge-ch/pablo" class="hover-effect">
                                <div class="block-album p-3">
                                    <img src="/static/pablo.png" alt="">
                                    <h6 class="uppercase mb-0 text-center">Pablo - Rege CH x Gino</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-content ">
                            <a href="https://soundcloud.com/redge-ch/redge-ch-flech-rapid-ft-steves-j-bryan" class="hover-effect">
                                <div class="block-album p-3">
                                    <img src="/static/flech.png" alt="">
                                    <h6 class="uppercase mb-0 text-center">Rege CH x Steves J Bryan</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-content">
                            <a href="https://soundcloud.com/donlexofficial/wouldnt-like-that-feat-elder-charlot-produced-by-richart-musiq" class="hover-effect">
                                <div class="block-album p-3">
                                    <img src="/static/wouldnt.png" alt="">
                                    <h6 class="uppercase mb-0 text-center">Wouldn't Like - DonLex</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-content  ">
                            <a href="https://soundcloud.com/mahryl0u/ayiti-cheri" class="hover-effect">
                                <div class="block-album p-3">
                                    <img src="/static/ayiti.png" alt="">
                                    <h6 class="uppercase mb-0 text-center">Ayiti Cheri - Mahrylhou</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-content  ">
                            <a href="https://soundcloud.com/donlexofficial/titit-feat-gino" class="hover-effect">
                                <div class="block-album p-3">
                                    <img src="/static/titit.png" alt="">
                                    <h6 class="uppercase mb-0 text-center">Titit - Donlex x Gino</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-content  ">
                            <a href="https://soundcloud.com/awesome-marvoushe/kounya-feat-redge-ch" class="hover-effect">
                                <div class="block-album p-3">
                                    <img src="/static/Konya.png" alt="">
                                    <h6 class="uppercase mb-0 text-center">Konya - Marvens</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-content  ">
                            <a href="https://soundcloud.com/da-skorpion/danti" class="hover-effect">
                                <div class="block-album p-3">
                                    <img src="/static/danti.png" alt="">
                                    <h6 class="uppercase mb-0 text-center">Danti - DaSkorpion</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                      <div class="col-12 col-md-6 col-lg-3">
                        <div class="block-content  ">
                            <a href="https://linktr.ee/dat1dud" class="hover-effect">
                                <div class="block-album p-3">
                                    <img src="/static/move.JPG" alt="">
                                    <h6 class="uppercase mb-0 text-center">Move Yuh Body - Elder Charlot</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container">
                <!--Row-->
                <!-- <div class="row justify-content-center">
                    <div class="col-12  col-lg-8 col-md-10 ">
                        <div class="block-content gap-one-top-md text-center">
                            <div class="block-teaser ">
                                <h2 class="mb-0">PRE-ORDER THE NEW ALBUM AND GET ACCESS TO<br> THE PRE-SALE OF 'THE upcoming TOUR'</h2>
                                <a class="btn btn-primary mt-4" href="#">learn more</a>
                            </div>
                            <div class="block-presale gap-one-top-sm">
                                <ul class="list-inline">
                                    <li>
                                        <h4 class=" uppercase list-inline-item">Pre-Sale Tour 1 : </h4> 2/07 - 2/09
                                    </li>
                                    <li>
                                        <h4 class=" uppercase list-inline-item">Pre-Sale Tour 2 : </h4> 2/14 - 2/16
                                    </li>
                                    <li>
                                        <h4 class=" uppercase list-inline-item">Pre-Sale Tour 3 : </h4> 2/21 - 2/23
                                    </li>
                                </ul>
                                <p class=" opc-50 mb-0">All pre-sales begin 12am local and end 6pm local time.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--End row-->
            </div>
            <!--End container-->
        <!-- </section> -->
        <!--End discography section-->
        <!--Divider section-->
        <!-- <section class="divider overlay">
            <div class="background-img">
                <img src="img/10.jpg" alt="">
            </div> -->
            <!--Container-->
            <!-- <div class="container"> -->
                <!--Row-->
                <!-- <div class="row justify-content-center">
                    <div class="col-12 col-lg-10 ">
                        <div class="block-content text-center front-p">
                            <h1 class="uppercase mb-2 alt-font">Time untill Upcoming Tour </h1>
                            <p class="lead">27 to 31 July 2018 with over 10 show - Cincinnati, Ohio </p>
                            <span class="countdown uppercase  mb-0  "></span>
                        </div>
                    </div>
                </div> -->
                <!--End row-->
            <!-- </div> -->
            <!--End container-->
        </section>
        <!--End divider section-->
     <hr>
        <!--End divider section-->
        <!-- Blo section -->
        <section id="blog" class="blog main brd-bottom">
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-9 ">
                        <div class="block-content text-center gap-one-bottom-md">
                            <div class="block-title ">
                                <div class="block-bars">
                                    <img src="/static/img/sound-bars.png" alt="">
                                </div>
                                <h1 class="uppercase mb-1">Videos and Tutorials </h1>
                                <!-- <h1 class="uppercase mb-0">from the blog</h1> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row ">
                    <div class="col-md-4">
                        <div class="card">
                            <a href="https://youtu.be/SkGkpXyHleY" class="hover-effect">
                                <img class="mb-4 rounded" src="/static/mix1.png" alt="">
                            </a>
                            <div class="card-body p-0">
                                <a href="#" class="block-cat ">
                                    <h6 class="opc-50  uppercase mb-3">Tutorial</h6>
                                </a>
                                <a href="https://youtu.be/SkGkpXyHleY">
                                    <h4 class="uppercase mb-3 h4">Mixing Wouldnt't Like That from Scratch</h4>
                                </a>
                                <h6 class="opc-50">May 18, 2020 </h6>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <div class="card">
                            <a href="#" class="hover-effect">
                                <img class="mb-4 rounded" src="img/16.jpg" alt="">
                            </a>
                            <div class="card-body p-0">
                                <a href="#" class="block-cat ">
                                    <h6 class="swap-color uppercase mb-3">Soul Music</h6>
                                </a>
                                <a href="#">
                                    <h4 class="uppercase mb-3 h4">New Single “Por Favor” feat. Fifth Harmony Out Now!</h4>
                                </a>
                                <h6 class="opc-50">September 10, 2018 </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <a href="#" class="hover-effect">
                                <img class="mb-4 rounded" src="img/17.jpg" alt="">
                            </a>
                            <div class="card-body p-0">
                                <a href="#" class="block-cat ">
                                    <h6 class="opc-50 uppercase mb-3">Entertainment</h6>
                                </a>
                                <a href="#">
                                    <h4 class="uppercase mb-3 h4">New Single “Por Favor” feat. Fifth Harmony Out Now!</h4>
                                </a>
                                <h6 class="opc-50">August 25, 2018 </h6>
                            </div>
                        </div>
                    </div> -->
                <!-- </div> -->
                <!--End row-->
            <!-- </div> -->
            <!--End container-->
            <!--Container-->x
            <!-- <div class="container"> -->
                <!--Row-->
                <!-- <div class="row justify-content-center">
                    <div class=" col-lg-12 ">
                        <div class="block-content text-center mt-4">
                            <a class="btn btn-primary with-ico uppercase mt-5 " href="#">
      View all posts</a>
                        </div>
                    </div>
                </div> -->
                <!--End row-->
            <!-- </div> -->
            <!--End container-->
        </section>
        <!--End blog section-->
   
        <!--Contact section-->
        <section id="contact" class="contact main top bg-secondary">
            <!--Container-->
            <div class="container">
                <!--Row-->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-9 ">
                        <div class="block-content text-center gap-one-bottom-md">
                            <div class="block-title ">
                                <div class="block-bars">
                                    <img src="/static/img/sound-bars.png" alt="">
                                </div>
                                <h6 class="uppercase mb-1">Contact Us</h6>
                                <h1 class="uppercase mb-0">stay in touch</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <!--Container-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <ul class="feature-list feature-list-sm text-center row gap-one-bottom-sm">
                            <li class="col-sm-4  col-lg-12">
                                <div class="card block-info text-center">
                                    <div class="card-body pt-0">
                                        <h2 class="uppercase h2">Bookings and Inquiries</h2>
                                        <p class="mb-0"><em class=" h5 mb-1 uppercase swap-color">RichArt MusiQ</em>
                    
                                            <br> richartmusiq@gmail.com
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <ul class="block-social colored list-inline text-center mb-5">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/SwaggtastiQ/" class="hover-effect"> <i class="socicon-facebook"></i> </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/richartmusiq/" class="hover-effect"><i class="socicon-instagram"></i> </a>
                            </li>
                            <!-- <li class="list-inline-item">
                                <a href="#" class="hover-effect"><i class="socicon-twitter"></i> </a>
                            </li> -->
                            <li class="list-inline-item">
                                <a href="https://www.youtube.com/channel/UCgGU_fhdhpgMwAbaT9JbFAQ" class="hover-effect"><i class="socicon-youtube"></i> </a>
                            </li>
                            <!-- <li class="list-inline-item">
                                <a href="#" class="hover-effect"><i class="socicon-amazon"></i></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <!--End container-->
        <!-- </section>
        <section class="divider overlay">
            <div class="background-img">
                <img src="/img/14.jpg" alt=""> -->
            <!-- </div> -->
            <!--Container-->
            <!-- <div class="container"> -->
                <!--Row-->
                <!-- <div class="row justify-content-center">
                    <div class="col-12 col-lg-10 ">
                        <div class="block-content text-center front-p">
                            <h1 class="uppercase mb-4 alt-font">subscribe to email list </h1>
                        </div>
                    </div> -->
                <!-- </div> -->
                <!--End row-->
            <!-- </div> -->
            <!--End container-->
            <!-- <div class="container ">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-8">
                        <div class="block-content block-email-form front-p">
                            <form method="get" class="email-form">
                                <div class="form-row">
                                    <div class="col-lg-12">
                                        <div class="form-group text-center mb-0">
                                            <input class="form-control form-control-lg" name="email" placeholder="Email Address..." type="text">
                                            <span class="text-small">* We don’t share your information with anyone.</span>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn uppercase ">
                                        Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--End contact section-->
        <footer class="footer pb-5 bg-secondary text-center">
            <!--Container-->
            <!-- <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-12 ">
                        <div class="block-content pt-5 brd-top">
                            <p class="mb-0 ">Oumaila Musician Bootstrap Template - <a href="#" class="swap-color underline  mr-2">Privacy Policy</a> <a href="#" class="swap-color underline  mr-2">Terms of Use</a> <a href="#" class="swap-color underline">AdChoices</a>
                                <br> &copy; 2018 all rights reserved - a product of <em>mutationthemes</em>.
                            </p>
                        </div>
                    </div>
                </div>
            </div> -->
            <!--End container-->
        </footer>
        <a class="block-top scroll hover-effect" href="#wrapper"><i class="icon-angle-up"></i></a>
        </div>
        <!-- End wrapper-->
        <!--Javascript-->
        <script src="/static/js/jquery-1.12.4.min.js"></script>
        <script src="/static/js/jquery.flexslider-min.js"></script>
        <script src="/static/js/smooth-scroll.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/audio.min.js"></script>
        <script src="/static/js/twitterFetcher_min.js"></script>
        <script src="/static/js/instafeed.min.js"></script>
        <script src="/static/js/jquery.countdown.min.js"></script>
        <script src="/static/js/placeholders.min.js"></script>
        <script src="/static/js/script.js"></script>
        <!-- Google analytics -->
        <!-- End google analytics -->
</body>

</html>